.one, .two, .three, .four{
	  height: 100px;
	  text-align: center;
	  font-size: 20px;
	  margin-bottom: 20px;
}

.one{
	  background-color: pink;
	  width: 150px;
	  	 color: white;

}

.two{
	  background-color: lavender;
	  width: 200px;
	  color: purple;
}

.three{
		background-color: salmon;
		width: 250px;
		color: black;

}

.four{
	   background-color: #d3ffce;
	   width: 300px;
	   color: green;


}